body {
  background-color: rgb(73, 134, 214);
  font-family: "Potta One", cursive;
}

h2 {
  font-size: 1.5em;
}

.burger-list {
  background-color: rgb(231, 73, 73);
  border-style: ridge;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.form-group {
  margin-bottom: 5px;
}
